* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #212529;
}

.boje{
	color: white;
}


img {
	max-width: 100%;
}

.student_slika {
	width: 30% !important;
}

.dodajslikubtn {
	height: min-content !important;
}

.korisnik-p {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: .5em !important;
}

.korisnik-input label {
	font-weight: bold;
	margin-top: 1em !important;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

table,
.prvi-th {
	border: 1px;
}

.sort {
	font-size: .8em;
	margin-left: .5em;
	display: flex;
	
}
.margina{
	padding-bottom: 30px;
}
.visina{
	height: 900px;
	object-fit: cover;
}
.font{
	font-family:Arial, Helvetica, sans-serif
}
