{% extends "base.html" %}

{% block content %}


<div class="container">
    <p class="my-5 korisnik-p">Izmeni Predmet</p>

    <form action={{ url_for('izmenipredmet', id=predmet.id) }} method="POST">

        <div class="row col-4 korisnik-input form-group">
            <label for="nameInput">Sifra Projekta :</label>
            <input type="text" class="form-control" name="sifra" id="nameInput" value={{predmet.sifra}} required>
        </div>

        <div class="row col-4 korisnik-input">
            <label for="nameInput">Naziv Projekta :</label>
            <input type="text" class="form-control" name="naziv" id="prezimeInput" value={{predmet.naziv}} required>
        </div>


        <div class="row col-4 korisnik-input">
            <label for="passInput">Status :</label>
            <!-- <input type="password" class="form-control" id="passInput" required> -->
            <select name="status" id="status" value={{predmet.status}} class="form-select form-select-lg mb-3">
                <option value="obavezan" default>U izradi</option>
                <option value="izborni">Zavrsen</option>
            </select>
        </div>

        <input type="submit" id="dodajSubmit" class="btn btn-primary my-2" value="sacuvaj promene">
    </form>
</div>
{% endblock %}